body {
    margin: 0;
    background: lightcoral;
    text-align: center;
}
h1 {
    color: navy;
    font-family: Calibri;
    font-size: 200%;
    
  }
  p {
    color: blue;
    font-family: Calibri; 
    font-size: 150%;
  }
